@import "../../common";

$width: 160px;
$height: 46px;

.input {
  & {
    border: none;
    border-bottom: 1px solid $light-gray;
    color: #fff;
    padding: $pad + 2 $pad;
    width: 100%;
    min-height: $height;
    height: $height;
    box-shadow: none;
    background: #fff;
    transition: border-color ease-in-out .15s;
    background-image: none;
    font-size: $font-size-base;
    background: transparent;
  }

  &:hover {
    border-color: $primary-color;
  }

  &:focus, &:active {
    border-bottom: 1px solid $primary-color;
    box-shadow: none;
    outline: none;
  }
}
