@import "./src/styles/variables";

.body-container {
  > .header {
    color: $primary-color;
    font-weight: 700;
    margin-bottom: $pad * 2;
  }
}

.header {
  color: #f8d154;
  font-weight: 700;
  margin-bottom: 16px
}

.profile-container {
  padding-top: 36px;
  padding-left: 36px;
  padding-bottom: 0;
  padding-right: 36px;
}

.tab-content {
  padding: 36px;
}

.body-content {
  > .title {
    margin-bottom: $pad * 2 - 4;
    margin-top: $pad * 2 - 4;
    letter-spacing: 1px;
  }

  > .title:nth-child(3) {
    margin-top: $pad * 2;
  }
}

.profile-header {
  & {
    display: flex;
    position: relative;
  }
}

.profile-details {
  & {
    margin-left: $pad * 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  > .top > .name {
    font-size: 2rem;
    line-height: 1;
    font-weight: 500;
  }

  > .top > .sub {
    margin-top: $pad - 4;
    color: $light-gray;
  }

  > .top > .created {
    position: absolute;
    right: 0;
    top: 0;
  }

  > .bottom > .label {
    color: $ink;
  }

  > .bottom > .item {
    color: $primary-color;
    font-size: 1.2rem;
  }
}



// overides antd
.ant-card {
  background: $black;
  color: #fff;
  border: none;
  border-radius: 8px
}

.ant-tabs-bar {
  border-bottom: none;
}