@import "./src/styles/common";

.form-group {
  & {
    position: relative;
    margin-bottom: $pad * 3;
    width: 100%;
  }

  &.-nopad {
    margin: 0;
  }
}

.body-layout {
  & {
    display: flex;
    justify-content-register: space-between;
    align-items: center;
  }

  &.-top-register {
    align-items: unset;
  }

  > .divider {
    height: 320px;
    border-left: 1px solid $border-color;
  }

  > .left.-half {
    width: 50%;
  }

  > .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content-register: center;
    width: 100%;
  }

  > .item > a {
    margin: $pad * 4 0 $pad * 3;
    z-index: 1;
  }
}

.register-container {
  & {
    display: flex;
    align-items: center;
    justify-content-register: center;
    background: #0D172E;
    padding: $pad * 7;
    border-radius: 8px;
    z-index: 1;
    margin-bottom: $pad * 2;
  }

  > .content-register {
    width: 400px;
  }

  > .width {
    width: 100% !important;
  }

  > .content-register > .head-register {
    margin-bottom: $pad * 8;
    text-align: center;
  }

  > .content-register > .head-register > .title-register,
  > .content-register > .head-register > .sub-register-register {
    color: #fff;
    text-transform: uppercase;
    font-family: $sans
  }

  > .content-register > .head-register > .title-register > .highlight-register {
    color: #f8d154;
    text-transform: uppercase;
    font-family: $sans
  }



  > .content-register > .head-register > .title-register {
    font-weight: 700;
  }

  > .content-register > form > .others {
    margin-top: $pad * 2;
  }

  > .content-register > form > .others > a {
    color: $light-gray;

    &:hover {
      color: $primary-color;
    }
  }

  > .content-register > .head-register > .google-play {
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
  }

  > .content-register > .head-register > .image {
    display: flex;
  }

  > .content-register > .head-register > .image > svg {
    width: 300px;
    height: 580px;
  }
}

.link-action {
  & {
    display: flex;
    justify-content-register: center;
  }

  > a {
    margin-left: $pad;
    color: $primary-color;
  }

  > a:hover {
    color: darken($primary-color, 15%);
  }
}

.right-details {
  & {
    height: 345px;
  }

  > .title-register {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
  }

  > .content-register {
    display: flex;
    align-items: center;
  }

  > .content-register.-column {
    flex-direction: column;
  }

  > .content-register > .details > button {
    position: absolute;
    bottom: 11px;
  }

  > .content-register > .details {
    position: relative;
  }

  > .content-register,
  > .content-register > .details {
    height: 94%
  }

  > .content-register > .image {
    margin-left: $pad * 2;
    position: relative;
    left: 18px;
    bottom: 18px;
  }
}

.list-item {
  > .item {
    display: flex;
    align-items: center;
    margin-bottom: $pad * 2;
  }

  > .item > .square {
    height: 5px;
    width: 5px;
    background: $primary-color;
    margin-bottom: $pad - 4;
    margin-right: $pad;
  }

  > .item > .info {
    color: #fff;
  }
}

.button-form {
  margin: $pad * 3 0
}

.two-fields {
  & {
    display: flex;
  }

  > .form-group:first-child {
    margin-right: $pad * 4;
  }
}
