@font-face {
  font-family: 'Soin Sans Neue';
  font-style: normal;
  font-weight: 100;
  src:
    local('Soin Sans Neue'),
    local('SoinSansNeue'),
    url('/src/assets/fonts/SoinSansThin.woff2') format('woff2'),
}

@font-face {
  font-family: 'Soin Sans Neue';
  font-style: normal;
  font-weight: normal;
  src:
    local('Soin Sans Neue'),
    local('SoinSansNeue'),
    url('/src/assets/fonts/SoinSansNeue-Bold.otf') format('opentype'),
}

$sans: 'Soin Sans Neue', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$sans-bold: 'SoinSansNeue-Bold', "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$font-family-base:                $sans;
$font-family-bold:                $sans-bold;
$font-size-base:                  14px;
$line-height-base:                1.7;
$font-weight-light:               300;
$font-weight-regular:             400;
$font-weight-bold:                700;

// Sizes ------------------------------------------------
$pad:                             8px;
$ms:                              1.25;

$sidebar-width:                   198px;
$navbar-height:                   50px;

// Z-Index ----------------------------------------------
$z-index-sidenav:                 1010;
$z-index-secondary:               1020;
$z-index-navbar-top:              1030;

// Colors -----------------------------------------------
$pattens-blue:                    #F1F5F8;
$blue-gray:                       #3B4971;
$wedgewood:                       #021342;
$blue:                            #2E5BFF;
$deep-blue:                       #061A55;
$dark-blue:                       #0D172E;

$fire-red:                        #EC1A1A;

$yellow:                          #F8D154;

$dark-gray:                       #7f8088;
$gray:                            #AEAEAE;
$gray-two:                        #979797;
$light-gray:                      #D8D8D8;
$white-smoke:                     #E5E5E5;
$solitude:                        #E4EBF0;

$black:                           #0B1618;
$alabaster:                       #F1F5F8;
$vulcan:                          #37393C;
$ink:                             #9098AE; // body text color

// Specific-use Colors ----------------------------------
$primary-color:                   $yellow;
$border-color:                    $light-gray;
$dark-border:                     $gray-two;
$navbar-color:                    $dark-blue;
