@import "./src/styles/variables";

.main-navbar {
  & {
    background: $navbar-color;
    width: 100%;
    height: 60px;
    z-index: 1009;
    display: flex;
  }
}

.nav-container {
  & {
    display: flex;
    align-items: center;
    width: 100%;
  }

  > .action {
    display: flex;
    align-items: center;
  }

  > .action > .logo {
    width: 160px;
  }

  > .options {
    margin-left: $pad * 3;
  }

  > .user {
    margin-left: auto;
  }
}

.nav-bar {
  & {
    background: transparent;
    color: #fff;
    border-bottom: none;
  }
}

// overrides antDesign
.user-icon {
  border-color: $primary-color;
  color: $primary-color;
  background-color: $navbar-color;

  &:hover {
    background: #FFF;
  }
}

.logout-icon {
  color: $primary-color;
  margin-right: 8px;
}

.ant-dropdown-menu-item {
  background: $navbar-color;
}
.ant-menu-horizontal > .ant-menu-item {
  & {
    top: 0;
    vertical-align: unset;
    border: none;
  }
  &:hover {
    color: $primary-color;
    border-bottom: none;
    top: 0;
  }
}

.ant-menu-horizontal > .ant-menu-item-selected {
  color: $primary-color;
  border: none;
}

.ant-menu-item {
  transition: none;
}
