@import "./src/styles/variables";

.form-body {
  & {
    padding: $pad * 2 $pad * 4 0;
    height: 330;
  }

  > .content > .item {
    margin-bottom: $pad * 2;
  }

  > .content > .flex {
    display: flex;
    align-items: center;
    margin-bottom: $pad * 2;
  }

  > .content > .flex > .item:first-child {
    width: 300px
  }

  > .content > .item > .title,
  > .content > .flex > .item > .title {
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: $pad;
  }

  > .content > .item > .sub,
  > .content > .flex > .item > .sub {
    color: $primary-color;
    font-size: 1.3rem;
    white-space: nowrap;
  }

  .sub-text {
    color: #fff;
    font-size: 11px;
  }

  > .end {
    color: #fff;
    font-size: 1.2rem
  }
}

.convert-value {
  color: $primary-color;
  white-space: nowrap;
  font-size: 1.3rem;
}

.qr-code {
  text-align: center;

  canvas {
    background: #fff;
    padding: $pad * 2 - 4;
  }
}

.form-label {
  color: $ink;
}

.header-container {
  & {
    padding: 0 $pad * 3;
  }

  > .title {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 12px;
    font-weight: 400;
  }

  > .ant-steps {
    margin-top: $pad * 5;
  }
}


.ant-modal-mask{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1999;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

.ant-modal-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  overflow: auto;
  outline: 0;
}

.ant-modal {
  width: 600px !important;
  height: 540px !important;
}

.ant-modal-footer {
  & {
    border-color: transparent;
  }

  > button {
    width: 120px;
  }
}

.ant-select-dropdown{
  z-index:2000;
}

.ant-modal-body {
  padding-top: 0;
}

.ant-modal-content {
  background: #0D172E;

  > .ant-modal-header {
    background: none;
    border: none;
  }
}

.ant-modal-header  > .ant-modal-title {
  color: #fff;
}

.ant-steps-item-process > .ant-steps-item-icon {
  background: $primary-color;
  border-color: $primary-color;
  background-color: none;

  > .ant-steps-icon {
    color: $black;
  }
}

.ant-steps-item-finish > .ant-steps-item-icon {
  background-color: $primary-color;
  border-color: $primary-color;

  > .ant-steps-icon {
    color: $black;
  }
}

.ant-steps-item-wait .ant-steps-item-icon {
  border-color: $primary-color;
  background: transparent;

  > .ant-steps-icon {
    color: $primary-color;
  }
}

.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title {
 color: $primary-color;
}
.ant-steps-item-wait > .ant-steps-item-content > .ant-steps-item-title:after {
  background-color: $primary-color;
 }
.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title {
  color: $primary-color;
}
.ant-steps-item-process > .ant-steps-item-content > .ant-steps-item-title:after {
  background-color: $primary-color;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title {
  color: $primary-color;
}
.ant-steps-item-finish > .ant-steps-item-content > .ant-steps-item-title:after {
  background-color: $primary-color;
}

.ant-input {
  border: none;
  border-bottom: 1px solid #D8D8D8;
  color: #fff;
  padding: 10px 8px;
  width: 100%;
  min-height: 46px;
  height: 46px;
  box-shadow: none;
  transition: border-color ease-in-out .15s;
  background-image: none;
  font-size: 14px;
  background: transparent;
  border-radius: 0;

  &:hover {
    border-color: $primary-color
  }
}

.ant-select-selection--single {
  border: none;
  background: none;
  border-bottom: 1px solid #D8D8D8;
  border-radius: 0;
  height: 38px;
  margin-top: $pad;

  &:hover,
  &:focus {
    box-shadow: none;
    border-color: $primary-color;
  }
}

.ant-select-selection__rendered {
  background: none;
}

.ant-modal-close-x {
  color: #F8D154;
}

.ant-select-selection-selected-value {
  color: #fff
}

.ant-select-dropdown {
  background-color: lighten(#0D172E, 5%);
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: $primary-color;
  color: $black;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: $primary-color;
  color: $black;
}

.ant-select-dropdown-menu-item-selected {
  background-color: $primary-color;
  color: $black;
}

.ant-select-dropdown-menu-item {
  color: #fff;
}
