body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Soin Sans Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1b2d5d;
}

code {
  font-family: 'Soin Sans Neue';
}
